<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Terms of Service</h3>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                </ul>
            </div><div class="col-md-4">
                <h3>Contact Info</h3>
                <ul>
                    <li>Email: <a href="mailto:info@elearn.co.ke">info@elearn.co.ke</a></li>
                    <li>Phone: <a href="tel:+254757321358">+254 757-321-358</a></li>
                    <li>Address: 123 Main St, Eldoret Kenya</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Interactive Learning Tools</a></li>
                    <li><a href="#">Expert Tutors</a></li>
                    <li><a href="#">Progress Tracking and Assessments</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="copyright">
        e-learn &copy;2023
    </p>
</footer>
