<header class="container">
    <h1 id="logo"><img src="/images/e_learning.png" alt=""> E-LEARN</h1>
    <nav>
        <% if(locals.isLogedIn) { %>
            <a href="/home"><img src="/images/home.png" alt=""> HOME</a>
            <a href="/logout" id="logOut"><img src="/images/logout.png" alt=""> LOGOUT</a>
        <% } %>
    </nav>
</header>