<%- include('partials/header')%>
    <%- include('partials/preloader')%>
    <%- include('partials/nav')%>
    <main class="container" id="landing">
        <h1>E-LEARNING-PORTAL</h1>
        <P>Are you a student? Looking for materials to study online with no ads? This free tool will help you learn and also track your consistency.</P>
        <span id="signInUp">
            <a href="/signup"><img src="/images/add-user.png" alt="" id="signInUpIMG">SIGN UP</a>
            <a href="/login"><img src="/images/login.png" alt="" id="signInUpIMG">LOGIN</a>
        </span>
        <p>If you are a tutor use this to login or signup</p>
        <span id="signInUp">
            <a href="/adminsignup"><img src="/images/add-user.png" alt="" id="signInUpIMG">SIGN UP AS ADMIN</a>
            <a href="/adminlogin"><img src="/images/login.png" alt="" id="signInUpIMG">LOGIN AS ADMIN</a>
        </span>
    </main>
<%- include('partials/footer')%>
