<%- include('partials/header')%>
    <%- include('partials/preloader')%>
    <%- include('partials/nav')%>
    <main class="container" id="landing">
        <p>E-LEARNING PORTAL</p>
        <span id="signInUp">
            <a href="/signup"><img src="/images/add-user.png" alt="" id="signInUpIMG">SIGN UP</a>
            <a href="/login"><img src="/images/login.png" alt="" id="signInUpIMG">LOGIN</a>
        </span>
    </main>
<%- include('partials/footer')%>
