<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="learn" class="container">
        <h1>Units</h1>
        <div class="learnUnits">
            <h3 class="learnTitle">Procedural Programming</h3>
            <p class="learnDefinition">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque incidunt deserunt explicabo laboriosam illum dolor?</p>
            <div class="learnUnitsMain">
                <div class="learnDocsMain">
                    <p><b>Notes</b></p>
                    <embed src="/docs/Programming.pdf" type="application/pdf" class="learnDocs"/>
                    <a href="/viewpdf" target="_blank"><b><i>Open</i></b></a>
                </div>
                <div class="learnDocsMain">
                    <p><b>Exams</b></p>
                    <embed src="/docs/exam.pdf" type="application/pdf" class="learnDocs"/>
                    <a href="/viewpdf" target="_blank"><b><i>Open</i></b></a>
                </div>
            </div>
        </div>
        <div class="learnUnits">
            <h3 class="learnTitle">Object Oriented Programming</h3>
            <p class="learnDefinition">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque incidunt deserunt explicabo laboriosam illum dolor?</p>
            <div class="learnUnitsMain">
                <div class="learnDocsMain">
                    <p><b>Notes</b></p>
                    <embed src="/docs/Programming.pdf" type="application/pdf" class="learnDocs"/>
                    <a href="/viewpdf" target="_blank"><b><i>Open</i></b></a>
                </div>
                <div class="learnDocsMain">
                    <p><b>Exams</b></p>
                    <embed src="/docs/exam.pdf" type="application/pdf" class="learnDocs"/>
                    <a href="/viewpdf" target="_blank"><b><i>Open</i></b></a>
                </div>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>