<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="learn" class="container">
        <h1>TOPIC</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae adipisci accusamus earum nostrum tempora quia eum nihil dolorum impedit ex facere ut non, voluptatem quas excepturi harum mollitia nisi facilis explicabo. Eaque earum porro magni dolores quos error facilis reiciendis ipsum ratione architecto nostrum repellendus suscipit, officiis natus consequatur quo!</p>
        <div id="download">
            <h2>Download PDF</h2>
            <h2>Download Past Paper PDF</h2>
        </div>
    </main>
<%- include('partials/footer') %>