<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main class="container" id="progress">
        <div>
            <h1>Progress Tab</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatum alias perferendis magni reiciendis ex quia dicta quaerat incidunt totam.</p>
        </div>
        <div id="progressProfile">
            <img src="/images/user.png" alt="progressProfileImg">
            <h2>Name</h2>
            <h4>Learning Progress: <span id="learn">0</span></h4>
        </div>
    </main>
<%- include('partials/footer') %>