<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="adminviewremark" class="container">
        <p>adminviewremark</p>
    </main>
<%- include('partials/footer') %>