<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="adminviewresource" class="container">
        <p>adminviewresource</p>
    </main>
<%- include('partials/footer') %>